.skipAllDoctors{
    position: absolute;
    z-index: 1000;
    background-image:  url(./image/back.jfif) ;
    background:  #336DB0;
    width: 100%;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.titleTheDoctors{
    font-size: 50px;
    font-weight: 500;
}


.allDoctor{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;

}

.doctor{
    flex-basis: 28%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 230px;
    margin-bottom: 20px;
    z-index: 2;

}

.profile{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #1e2648;
    padding: 12px;
    border-radius: 20px;
}


#imageDoctor{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    
}
#nameDoctor{
    margin:25px 0 10px  ;
    font-weight: 500;

}


#specializedDr{
    margin-bottom: 10px;
    color: #ff7878;
    /* font-size: 20px; */
}


.doctor::before,.doctor::after{
content: '';
height: 0;
width: 0;
background: linear-gradient(135deg,#2B2C53,#FFFFFF);
position: absolute;
z-index: -1;
animation: none;

}

.doctor::before{
    left: 0;
    top: -4px;

}

.doctor::after{
    right: 0;
    bottom: -4px;
}

@keyframes stroke{
    0%{
        height:8px ;
        width:0px ;
    }
    50%{
        height:8px ;
        width:calc(100% + 4px)
    }
    100%{
        height:calc(100% + 8px);
        width:calc(100% + 4px );
    }
}


.doctor:hover::before,.doctor:hover::after{
    animation: stroke 1s linear;
    animation-fill-mode: forwards;
}

